.hero-container {
  background-color: #ffffff;
  color: #fff;
  height: 100vh;
}

.content-container {
  background-color: #ffffff;
  height: 600px;
  width: 100%;
  position: relative;
}

.accordion-container {
  background-color: #ffffff;
  color: #fff;
  height: 500px;
  position: relative;
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .accordion-container {
    height: auto;
    overflow-y: auto;
  }
}


